@import "_variables";

html {
    font-family: $primary-font-family;
}
body {
    background-color: $bg-main;
    color: $primary-color;
}
img {
    width: 100%;
}
* {
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}