.masthead__header {
    padding: 1rem;
    text-align: center;
}
.masthead__header__title {
    padding-top: 30px;
    padding-bottom: 20px;
}
.masthead__header__button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    background-color: deepskyblue;
    color: white;
}
.masthead__header__description {
    padding-bottom: 30px;
}