.works__content {
    padding: 1rem;
}
.works__title {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.works__information {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.works__link__container {
    padding-top: 30px;
    a {
        color: cadetblue;
        font-size: 18px;
        line-height: 40px;
    }
}
.works__link {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 225px;
    border-bottom: 2px solid cadetblue;
    padding-bottom: 10px;
}
.works__link__icon {
    width: 40px;
}
@media (min-width: 768px) {
    .works__container {
        padding: 20px;
    }
    .works__content {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
}
@media (min-width: 1140px) {
    .works__container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .works__content {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-items: center;
    }
    .works__title {
        font-size: 28px;
    }
    .works__information {
        font-size: 18px;
    }
}
