.features__content {
    padding: 1rem;
}
.features__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.features__list__item {
    text-align: center;
}
.features__list__item__title {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}
.features__list__item__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.features__list__icon {
    width: 80px;
}
@media (min-width: 768px) {
    .features__container {
        padding: 20px;
    }
    .features__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        align-items: baseline;
    }
}
@media (min-width: 1140px) {
    .features__container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .features__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 143px;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 100px;
        align-items: baseline;
    }
    .features__list__item__title {
        font-size: 28px;
    }
    .features__list__item__description {
        font-size: 18px;
    }
}