$primary-font-family: "Open Sans";
$secondary-font-family: "Raleway";
$font-weight: 400;
$primary-font-size: 14px;
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-team: hsl(219, 30%, 18%);
$bg-access: hsl(217, 28%, 15%);
