html {
  font-family: "Open Sans"; }

body {
  background-color: #181f2a;
  color: #ffff; }

img {
  width: 100%; }

* {
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a, button {
  cursor: pointer; }

.header {
  padding: 1rem; }

.header__content,
.header__menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header__content {
  gap: 20px; }

.header__menu__list {
  padding-left: 0; }

.header__menu__list__item {
  padding: 10px;
  font-size: 14px; }

.masthead__header {
  padding: 1rem;
  text-align: center; }

.masthead__header__title {
  padding-top: 30px;
  padding-bottom: 20px; }

.masthead__header__button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  background-color: deepskyblue;
  color: white; }

.masthead__header__description {
  padding-bottom: 30px; }

.features__content {
  padding: 1rem; }

.features__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px; }

.features__list__item {
  text-align: center; }

.features__list__item__title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 22px;
  font-weight: bold; }

.features__list__item__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500; }

.features__list__icon {
  width: 80px; }

.works__content {
  padding: 1rem; }

.works__title {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700; }

.works__information {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500; }

.works__link__container {
  padding-top: 30px; }
  .works__link__container a {
    color: cadetblue;
    font-size: 18px;
    line-height: 40px; }

.works__link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 225px;
  border-bottom: 2px solid cadetblue;
  padding-bottom: 10px; }

.works__link__icon {
  width: 40px; }

.team {
  padding-top: 100px;
  padding-bottom: 100px; }

.team__content {
  padding: 1rem; }

.team__list {
  display: flex;
  flex-direction: column;
  gap: 50px; }

.team__list__item {
  background-color: #202a3c;
  border-radius: 15px;
  padding: 20px; }

.team__post {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.team__comment {
  font-size: 12px;
  line-height: 24px; }

.team__profession {
  font-size: 15px;
  padding-top: 20px; }

.team__profile {
  width: 100px;
  border-radius: 50%; }

.access__container {
  padding: 1rem;
  text-align: center; }

.access__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px; }
