html {
  font-family: "Open Sans"; }

body {
  background-color: #181f2a;
  color: #ffff; }

img {
  width: 100%; }

* {
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #ffff; }

a, button {
  cursor: pointer; }

@media (min-width: 1140px) {
  a {
    font-size: 18px; } }

.header {
  padding: 1rem; }

.header__content,
.header__menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header__content {
  gap: 20px; }

.header__menu__list {
  padding-left: 0; }

.header__menu__list__item {
  padding: 10px;
  font-size: 14px; }

@media (min-width: 1140px) {
  .header__container {
    max-width: 1140px;
    margin: 0 auto; }
  .header__content {
    padding-top: 20px; } }

.masthead__header {
  padding: 1rem;
  text-align: center; }

.masthead__header__title {
  padding-top: 30px;
  padding-bottom: 20px; }

.masthead__header__button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  background-color: deepskyblue;
  color: white; }

.masthead__header__description {
  padding-bottom: 30px; }

@media (min-width: 1140px) {
  .masthead__header__container {
    max-width: 1140px;
    margin: 0 auto; }
  .masthead__header__content {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px; }
  .masthead__header__title {
    font-size: 40px; }
  .masthead__header__description {
    font-size: 24px; } }

.features__content {
  padding: 1rem; }

.features__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px; }

.features__list__item {
  text-align: center; }

.features__list__item__title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 22px;
  font-weight: bold; }

.features__list__item__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500; }

.features__list__icon {
  width: 80px; }

@media (min-width: 768px) {
  .features__container {
    padding: 20px; }
  .features__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    align-items: baseline; } }

@media (min-width: 1140px) {
  .features__container {
    max-width: 1140px;
    margin: 0 auto; }
  .features__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 143px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 100px;
    align-items: baseline; }
  .features__list__item__title {
    font-size: 28px; }
  .features__list__item__description {
    font-size: 18px; } }

.works__content {
  padding: 1rem; }

.works__title {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700; }

.works__information {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500; }

.works__link__container {
  padding-top: 30px; }
  .works__link__container a {
    color: cadetblue;
    font-size: 18px;
    line-height: 40px; }

.works__link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 225px;
  border-bottom: 2px solid cadetblue;
  padding-bottom: 10px; }

.works__link__icon {
  width: 40px; }

@media (min-width: 768px) {
  .works__container {
    padding: 20px; }
  .works__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center; } }

@media (min-width: 1140px) {
  .works__container {
    max-width: 1140px;
    margin: 0 auto; }
  .works__content {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center; }
  .works__title {
    font-size: 28px; }
  .works__information {
    font-size: 18px; } }

.team {
  padding-top: 100px;
  padding-bottom: 100px; }

.team__content {
  padding: 1rem; }

.team__list {
  display: flex;
  flex-direction: column;
  gap: 50px; }

.team__list__item {
  background-color: #202a3c;
  border-radius: 15px;
  padding: 20px; }

.team__post {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.team__comment {
  font-size: 12px;
  line-height: 24px; }

.team__profession {
  font-size: 15px;
  padding-top: 20px; }

.team__profile {
  width: 100px;
  border-radius: 50%; }

@media (min-width: 768px) {
  .team__container {
    padding: 20px; }
  .team__comment {
    font-size: 18px; } }

@media (min-width: 1140px) {
  .team__container {
    max-width: 1140px;
    margin: 0 auto; }
  .team__list {
    display: flex;
    flex-direction: row;
    gap: 30px; }
  .team__comment {
    font-size: 16px; } }

.access {
  padding-top: 50px;
  padding-bottom: 50px; }

.access__container {
  padding: 1rem;
  text-align: center; }

.access__content {
  background-color: #202a3c;
  padding: 20px;
  border-radius: 10px; }

.access__title {
  padding-bottom: 20px;
  font-size: 28px; }

.access__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px; }

.access__form__input,
.access__form__button {
  padding: 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px; }

.access__form__button {
  color: white;
  background-color: deepskyblue; }

@media (min-width: 1140px) {
  .access__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 300px;
    padding-right: 300px; }
  .access__content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px; } }

.contacts {
  padding: 1rem; }

.contacts__list__item__location {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px; }

.contacts__list__item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px; }

.contacts__icon {
  width: 30px; }

.contacts__list__item__phone {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px; }

.contacts__about__list,
.contacts__about__work__list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px; }

.contacts__phone__number,
.contacts__email {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center; }

.contacts__social__media {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px; }

@media (min-width: 1140px) {
  footer {
    background-color: #152238; }
  .contacts__container {
    max-width: 1140px;
    margin: 0 auto; }
  .contacts__list {
    display: grid;
    grid-template-columns: 362px 200px 100px 100px 170px;
    column-gap: 50px;
    align-items: baseline; } }
